# Google credentials and configuration
#google_client_id:      YOUR_CLIENT_ID
#google_client_secret:  YOUR_CLIENT_SECRET
google_project_id:     iot-cars-v2

# options are "cloudsql", "mongodb", or "datastore"
bookshelf_backend: cloudsql

# configure CloudSQL backend
mysql_dsn: "mysql:host=173.194.83.205;port=3306;dbname=mydb"
mysql_user: root
mysql_password: '123'

# configure Mongo backend
#mongo_url: YOUR_MONGODB_URL
#mongo_database: YOUR_MONGO_DATABASE
#mongo_collection: YOUR_MONGO_COLLECTION
